body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    margin: 0 auto;
    padding: 0;
    color: #333;
    line-height: 1.6;
    font-size: 1rem;
    scroll-behavior: smooth;
}

header {
    background-color: white;
    color: black;
    height: 100px;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1em;
}
h2 {
    font-size: 2.375rem;
    color: #217AC5;
}
h3 {
    font-size: 1.5rem;
    color: #217AC5;
}
h4 {
    font-size: 1.25rem;
}
p{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

th{
    background-color: #f5f5f5;
    width: 20%;
}

td{
    background-color: #fff;
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}

.header-logo-container{
    font-size: 0.75rem;
    text-align: left;
}

.header-nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav a{
    padding: 1rem 0;
    display: inline-block;
}

.header-nav a:hover{
    color: #217AC5;
    transition: color 0.3s ease;
}

.hero {
    background-color: white;
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    margin-top: 100px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.section {
    margin-bottom: 3rem;
}

.section-title{
    text-align: center;
    /* background: linear-gradient(85deg, #217AC5 0%, #0094CF 100%); */
}

.activity-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.activity-item{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 2em;
    margin-bottom: 1em;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.activity-item h4{
    text-align: center;
}

.activity-item img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.activity-item p{
    margin: 0;
}

/* .working-style-content{
    margin: 0 calc(50% - 50vw);
    padding: 2rem calc(50vw - 50%);
    width: 100vw;
    background-color: #e0edff;
} */

.working-style-voice-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
    gap: 1em;
    & img {
        width: 100%;
        max-width: 200px;
        height: auto;
        border-radius: 100px;
    }
}

.balloon2-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 15px;
    min-width: 300px;
    /* max-width: 600px; */
    height: fit-content;
    color: #555;
    font-size: 16px;
    background: #e0edff;
    /* border: solid 3px #555; */
    box-sizing: border-box;
    border-radius: 15px;
    flex: 1;
}

.balloon2-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid #e0edff;
    z-index: 2;
}

.balloon2-left:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -14px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
    z-index: 1;
}

/* .balloon2-left p {
    margin: 0;
    padding: 0;
} */

.working-style-voice-item-name{
    text-align: right;
    margin-top: 1em;
}

.working-style-data-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    gap: 1em;
    margin-bottom: 1em;
}

.radius-table1c{
    width: 300px;
    border-radius: 15px;
    border-spacing: 0;
    border: none;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.radius-table1c tr>*{
    padding: 15px;
    border: none;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.radius-table1c tr:first-child>*:first-child{
    border-radius: 15px 15px 0 0;
}
.radius-table1c tr:last-child>*:last-child{
    border-radius: 0 0 15px 15px;
}

.radius-table{
    width: 100%;
    border-radius: 15px;
    border-spacing: 0;
    border: none;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.radius-table tr>*{
    padding: 15px;
    border: none;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.radius-table tr:first-child>*:first-child{
    border-radius: 15px 0 0 0;
}
.radius-table tr:first-child>*:last-child{
    border-radius: 0 15px 0 0;
}
.radius-table tr:last-child>*:first-child{
    border-radius: 0 0 0 15px;
}
.radius-table tr:last-child>*:last-child{
    border-radius: 0 0 15px 0;
}

.recruitment-flow{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;

}

.recruitment-flow-item{
    background-color: #217AC5;
    color: white;
    padding: 1em;
    border-radius: 15px;
    width: 80%;
    min-width: 300px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1em;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #004C8C;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #003666;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    color: #818181;
    max-width: 1200px;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    padding: 20px 2rem;
    margin: 0 auto;
    gap: 1em;
}

.footer-info{
    font-size: 0.75rem;
    text-align: left;
    /* width: 50%; */
}

.footer-info-title{
    font-size: 1.125rem;
}

.footer-copyright{
    font-size: 0.75rem;
    font-weight: 600;
    /* margin-top: 1em; */
    /* text-align: right; */
    /* width: 50%; */
}

/* トップに戻るボタンのスタイル */
#to-top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #217AC5;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none; /* 初期状態では非表示 */
    opacity: 0.8;
    transition: opacity 0.3s;
    z-index: 1000;
}

#to-top-button:hover {
    opacity: 1;
}

/* 新着情報一覧ボタンのスタイル */
.button-blue {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* width: 200px; */
    padding: 10px 20px;
    background-color: white;
    color: #217AC5;
    border: 2px solid #217AC5;
    border-radius: 100px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

/* 外部リンクアイコンのスタイル */
.button-blue::after {
    font-family: "Font Awesome 5 Free";
    content: '\f35d';
    margin-left: 1em;
    /* font-size: 1.2em; */
    transition: transform 0.3s;
}

.button-blue:hover {
    background-color: #217AC5;
    color: white;
}