@keyframes infinity-scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
    margin-bottom: 2rem;
}

.scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: stretch;
}

.scroll-infinity__list--left {
    animation: infinity-scroll-left 40s infinite linear 0.5s both;
}

.scroll-infinity__item {
    width: calc(100vw / 3);
    min-width: 300px;
}

.scroll-infinity__item>div {
    margin: 0.5em;
}


.activity-content {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.activity-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #ddd;

    & h4 {
        margin-bottom: 0;
    }
}

.activity-item h4 {
    text-align: center;
}

.activity-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.activity-item p {
    margin: 0;
}

#activity {
    position: relative;
}

.char-man {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
}

.char-woman {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
}



@media screen and (max-width: 768px) {
    .scroll-infinity__item {
        width: calc(100vw / 2);
        min-width: 250px;
    }

    .activity-content {
        flex-direction: column;
    }

    .activity-item {
        padding: 1.5em;
    }

    .char-man {
        width: 150px;
        height: 150px;
        top: 50px;
        left: 50px;
    }

    .char-woman {
        width: 150px;
        height: 150px;
        bottom: 50px;
        right: 50px;
    }

}

@media screen and (max-width: 480px) {
    .scroll-infinity__item {
        width: 100vw;
        min-width: 200px;
    }

    .activity-item {
        padding: 1em;
    }

    .char-man {
        width: 150px;
        height: 150px;
        top: 0;
        left: 0;
    }

    .char-woman {
        width: 150px;
        height: 150px;
        bottom: 50px;
        right: 0;
    }
}