.recruitment-flow {
    & a {
        margin: 0 auto;
        display: block;
        /* width: fit-content; */
        width: 184px;

        & p {
            text-align: center;
        }
    }
}

.recruitment-flow-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.recruitment-flow-content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-weight: bold; */
    gap: 10px;

    & p {
        display: inline-block;
        height: 4rem;
    }
}

.recruitment-flow-content-circle {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #e0edff;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 50%;
        height: 50%;
        filter: brightness(0) saturate(100%) invert(33%) sepia(97%) saturate(976%) hue-rotate(182deg) brightness(93%) contrast(84%);
    }
}

.triangle {
    background-color: #e0edff;
    height: 25px;
    aspect-ratio: cos(30deg);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.recruitment-flow-content-space {
    width: 20px;
    height: 64px;
}



@media screen and (max-width: 480px) {
    .recruitment-flow-content {
        display: flex;
        flex-direction: column;
        /* gap: 10px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; */
    }

    .recruitment-flow-content-item {
        display: flex;
        flex-direction: row;
        /* justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
        gap: 10px; */

        & p {
            display: inline-block;
            font-size: 1.5rem;
            width: 50%;
            /* height: 4rem; */
        }
    }

    .recruitment-flow-content-circle {
        width: 50%;
        /* aspect-ratio: 1;
        border-radius: 50%;
        background-color: #e0edff;
        display: flex;
        justify-content: center;
        align-items: center; */
    }

    .triangle {
        background-color: #e0edff;
        height: 25px;
        aspect-ratio: 1 / cos(30deg);
        clip-path: polygon(0 0, 100% 0, 50% 100%);
    }

    .recruitment-flow-content-space {
        display: none;
    }
}