.center-nav-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    text-align: center;
}

.center-nav-content-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(85deg, #217AC5 0%, #0094CF 100%);
    margin-bottom: 20px;
}

.center-nav-content-item-img{
    width: 60%;
    height: 60%;
    margin: 0 auto;
    filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(0%) hue-rotate(127deg) brightness(107%) contrast(101%);
}

.center-nav-content-item-text{
    font-size: 2.375rem;
    font-weight: bold;
    color: #217AC5;
}

